<h2 class="head">Introduction</h2>
<hr>
<div class="introContainer">
  <ul>
    <li>Actions of many drugs are not confined to a single system of the body. A drug may act on a single organ or
      multiple organs of the same or different systems.</li>
    <li>It may act at one site but produce an effect at another site. The present experiment which simulates a live
      anaesthetized dog demonstrates the effects of a few drugs on the cardiovascular system. </li>
    <li>These drugs act on different receptors and organs to produce similar or opposite effects.</li>
  </ul>
</div>