.footerFormContainer {
    bottom: 5px;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
 }

 button {
    background: #283593;
    color: white;
    font-weight: 500;
    margin-left: 15px;
    border-radius: 7px;
    border-bottom: 2px solid #283593;
    border-top: 2px solid #283593;
    border-left: 2px solid #283593;
    border-right: 2px solid #283593;
 }

 button:hover {
    background: #fff;
    color: #283593;
    border-bottom: 2px solid #283593;
    border-top: 2px solid #283593;
    border-left: 2px solid #283593;
    border-right: 2px solid #283593;
 }

 label {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    vertical-align: text-bottom;
 }

 .table-container {
    width: 100%;
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    table {
    width: 85%;
    height: 60vh;
    border: 1px solid #2d2d2d;
    }
    thead {
       background-color: #283593;
       text-align: center;
       color:#fff;
       word-wrap: break-word;
    }
    th {
       padding: 5px;
    }
    tbody {
       vertical-align: inherit;
       flex: 1 1 auto;
      overflow-y: auto;
      overflow-x: hidden;
    }
 }
 textarea {
   overflow: auto;
   resize: vertical;
   width: 100%;
   border: none;
}